body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: #696969;
}
.orange-color{
    color: orange;
}
.flexible-conainer{
    display: flex;
    margin-bottom: 100px;
    
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
}
.top-banner .half-width:first-child{
    margin-top: 50px;
}
.half-width:last-child {
    margin-left: 0;
}
.half-width img{
    width: 95%;
}
.orange-btn{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(250,110,90,1) 0%, rgba(236,156,35,0.9864320728291317) 100%, rgba(255,168,46,1) 100%);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big h2{
    font-size: 40px;
}
.dream-big .half-width:last-child{
    padding-right: 6%;
    margin-top: 50px;
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 80%;
}
.exp-area h1{
    letter-spacing: 3px;
}
.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 15px 20px 20px;
    padding-bottom: 10px;
    box-shadow: 3px 4px 35px grey;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#FF9D34,#FB6756);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}